<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I hold a Bachelor's Degree in computer science with a concentration in back end engineering. I am an aspiring Ph.D. student with goals to combine my background in data science, software engineering, and astronomical research to create packages, APIs, and websites for the community and derive solutions to research questions from a computer science-based perspective.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">medium.com/@maliarosebarker</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
